PP_ENV=local
APP_PORT=8080
APP_LANG=en
APP_TIMEZONE=Asia/Jakarta
APP_NAME=go-rest

DB_DRIVER=postgres
DB_HOST=localhost
DB_USER=<username>
DB_PASSWORD=<userpassword>
DB_NAME=db_baswararest
DB_PORT=5433

TEST_DB_DRIVER=postgres
TEST_DB_HOST=localhost
TEST_DB_USER=<username>
TEST_DB_PASSWORD=<userpassword>
TEST_DB_PORT=5433
TEST_DB_NAME=db_baswararest_test